github "dn-m/Collections"
github "dn-m/ArithmeticTools"
github "dn-m/Timeline"
github "dn-m/Rhythm"
github "dn-m/MetronomeController"

github "jpsim/Yams" == 0.3.2
github "audioKit/AudioKit" == 3.6
github "Alamofire/Alamofire"
