github "dn-m/Collections"
github "dn-m/ArithmeticTools"
github "dn-m/Timeline"
github "dn-m/Rhythm"
github "dn-m/MetronomeController"

github "jsbean/Yams" == 0.3.3 
github "jsbean/AudioKit" == 3.5.5
github "jsbean/Alamofire" == 4.4.0